:root {
    --section-bg-color: #efeff0;
    --section-bg1-color: #ffffff;
    --section-box-bg-color: #e8e6e6;
    --section-header-color:black;
    --section-p-color: #59595a;
    --navscroll-color: white;
} 

.dark-them {
    --section-bg-color: #191919;
    --section-box-bg-color: black;
    --section-header-color:rgb(246, 241, 241);
    --section-p-color: #888282;
    --section-bg1-color: #000;
    --navscroll-color: black;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    z-index: 999;
}
.nav-scroll {
    background-color: var(--navscroll-color);
    transition: linear 1s;
    filter: drop-shadow(0 -10px 40px rgb(170, 170, 170));
}
.nav-scroll ul li a {
    color: rgb(45, 45, 45) !important;
    font-weight: 650;
}
.nav-scroll i {
    color: rgb(80, 79, 79);
}
.nav-scroll button {
    color: rgb(80, 79, 79);
    border: 1px solid rgb(80, 79, 79);
}

ul li a {
    color:  #cac8c8 !important;
    font-size: 16px;
    position: relative;
    font-weight: 550;
}
ul li {
    padding: 0 22px;
}
ul li a:hover {
    color: #c04 !important;
    transition: .6s;
    font-weight: 600;
}
.active {
    color: rgb(132, 167, 195) !important;
}
i {
    padding-top: 4px;
    font-size: 19px;
    margin-right: 20px;
    padding-right: 18px;
    color: #b9b7b7;
    align-items: center;
    transition: .4s;
}
i:hover {
    color: whitesmoke;
    transform: scale(1.1);
}


#banner {
    background-image: url("./images/banner.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


.mode-change {
    position: fixed;
    bottom: 40;
    left: 30;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
    cursor: pointer;
    box-shadow: 3px 5px 5px  rgba(0, 0, 0, 0.204);
    z-index: 99;
    transition: 0s;
}
.mode-change i {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-23%, -54%);
   color: #313030;
   font-size: 26px;
}
#light-mode {
    visibility: hidden;
    color: rgb(249, 180, 3);
    transition: 0s !important;
    font-size: 26px;
}





.banner {
    padding-top: 300px;
}
.banner p{
    color: var(--section-p-color);
    letter-spacing: 10px;
    font-size: 24px;
}
.banner h2, h3 {
    letter-spacing: 7px;
    font-weight: 900;
    color: white;
    font-size: 58px;
}
.banner span {
    color: #c04;
    letter-spacing: 7px;
    font-weight: 900;
    font-size: 58px;
}

.nav-link::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #c04;
    transition: .6s;
}
.nav-link:hover:after {
    width: 100%;
}


/* ******************* **About section starts *********************** */

#about {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: var(--section-bg1-color);
}
.about-text {
    margin-top: 100px;
    color: #c04;
}
.about-text p {
    color: var(--section-p-color);
    font-size: 18px;
}
.about-text h1 {
    color: var(--section-header-color);
    font-weight: 800;
    font-size: 55px;
    padding-bottom: 24px;
}

/* ***************about tabs******************* */

.tabs {
    margin-top: 60px;
}
.tabs button {
    margin-right: 16px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 550;
    border-bottom: 3px solid #616161;
    transition: all .5s ease-in-out;
    color: var(--section-p-color);
    transition: .4s;
}
/* .tabs button::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 7;
    width: 31px; 
    border-bottom: 3px solid #616161;
    transition: .6s;
} */



.main-tab-contant {
    position: relative;
}
.tab-contant {
    padding-left: 6px;
    padding-top: 28px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;
}
 #tab-contant1 {
    visibility: visible;
    
 }
 #tab-contant2 {
    visibility: hidden;
 }
 #tab-contant3 {
    visibility: hidden;
 }
 #tab-contant4 {
    visibility: hidden;
 }
 .active-btn{
    color: #ff0b07fe !important;
    border-bottom: 2px solid #ff0b07fe !important;
    transition: all .4s ease-in-out;
}




.tab-contant h6 {
    color: var(--section-p-color);
}
.tab-contant p, span {
    font-size: 16px;
    color: var(--section-p-color);
}
/* ***************about tabs******************* */

/* ******************* About section ends******** *********************** */




/* ******************* service section starts******** *********************** */

#service {
    background-color: var(--section-bg-color);
    width: 100%;
    padding-bottom: 60px;
}
.service-heading {
    padding-top: 100px;
}
.service-heading >p, h1 {
    text-align: center;
}
.service-heading h1 {
    font-weight: 700;
    font-size: 60px;
    color: var(--section-header-color);
}
.service-heading p {
    font-size: 22px;
    color: var(--section-p-color);
}
.service-card .card {
    padding: 5px 52px !important;
    transition: all .5s linear;
    border: none;
    border-radius: 10px;
    background-color: var(--section-box-bg-color);
    margin-top: 55px;
    margin-bottom: 32px;
    width: 95% !important;
}
.service-card .card:hover {
    background-color: #F93A3B;
    margin-top: 1px ;
}
.service-card .card:hover .card-text{
    color: white ;
}
.service-card .card:hover i,.card:hover .card-title {
    color: white;
}
.service-card .card i {
    padding-top: 10px;
    padding-left: 8px;
    font-size: 50px;
    color: #F93A3B;
}
.service-card .card .card-title {
    font-size: 30px;
    color: var(--section-header-color);
}
.service-card .card .card-text {
    font-size: 22px;
    padding: 25px 0;
    color: var(--section-p-color);
}


/* ******************* service section ends******** *********************** */






/* ******************* protfolio section starts******** *********************** */
#portfolio {
    background-color: var(--section-bg1-color);
}

.portfolio-header {
    padding-top: 100px;
}
.portfolio-header >p, h1 {
    text-align: center;
}
.portfolio-header h1 {
    font-weight: 700;
    font-size: 60px;
    color: var(--section-header-color);
}
.portfolio-header p {
    font-size: 22px;
    color: var(--section-p-color);
}


.gallery {
    margin-top: 60px;
    display: flex;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
}
.gallery> * {
    flex: 1 1 30%;
    position: relative;
    transition: all .6s ease-in-out;
}
.gallery .img-box img {
    width: 95%;
    height: 430px;
    border-radius: 8px;
}
.gallery .img-box .gallery-text {
    position: absolute;
    bottom: 40;
    left: 0;
    text-align: center;
}
.gallery .gallery-text p {
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}
.gallery .gallery-text h3 {
    color: white;
    font-size: 25px;
    margin-left: 29px;
}
.gallery .gallery-text button {
    color: white;
    font-size: 18px;
    padding: 5px 18px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
    transition: .5s;
}
.gallery .gallery-text button:hover {
    background-color: #f31b5f;
    transform: scale(.9);
    border: none;
}
.gallery .img-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    background-color: #B7033B;
    opacity: 0;
    overflow: hidden;
}
.gallery .img-box:hover {
    transform: scale(1.1);
}
.gallery .img-box:hover .overlay {
    opacity: .6;
    border-radius: 5px;
}
.center {
    margin-top: 50px;
    text-align: center;
}
.no-btn {
    color: white;
    font-size: 22px;
    padding: 12px 26px;
    background-color: #f31b5f;
    border: 1px solid #f31b5f;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
    transition: .5s;
}
.no-btn:hover {
    background-color: white;
    transform: scale(1.1);
    color: #f31b5f;
}


/* ******************* portfolio section ends******** *********************** */





/* ******************* **blog section starts******** *********************** */


#blog {
    background-color: var(--section-bg-color);
    width: 100%;
    padding-bottom: 60px;
}
.blog-header {
    padding-top: 100px;
}
.blog-header >p, h1 {
    text-align: center;
}
.blog-header h1 {
    font-weight: 700;
    color: var(--section-header-color);
    font-size: 60px;
}
.blog-header p {
    font-size: 22px;
    color: var(--section-p-color);
}


.gallery> * {
    flex: 1 1 30%;
    position: relative;
    transition: all .6s ease-in-out;
    width: 100%;
    overflow: hidden;
}
.gallery .blog-img-box img {
    width: 100%;
    height: 430px;
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1);
    transition: .6s;
}
.gallery .blog-img-box .blog-text {
    position: absolute;
    bottom: -40;
    left: 0;
    text-align: left;
    margin-left: 29px;
    transition: .4s;
}
.gallery .blog-img-box:hover .blog-text {
    bottom: 40;
}
.gallery .blog-img-box:hover button{
    visibility: visible;
}
.gallery .blog-text p {
    color: white;
    font-size: 16px;
    
}
.gallery .blog-text h3 {
    color: white;
    font-size: 25px;
    letter-spacing: 2;
}
.gallery .blog-text button {
    color: white;
    font-size: 18px;
    padding: 5px 18px;
    background-color: transparent;
    border: 1px solid #f31b5f;
    border-radius: 5px;
    margin-top: 10px;
    transition: .5s;
    visibility: hidden;
}
.gallery .blog-text button:hover {
    background-color: #f31b5f;
    transform: scale(.9);
    border: none;
}
.gallery .blog-img-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #B7033B;
    opacity: 0;
}

.gallery .blog-img-box:hover .overlay {
    opacity: .6;
}
.gallery .blog-img-box:hover img{
    transform: scale(1.2);
    overflow: hidden;
}




/* ******************* blog**** section end******** *********************** */


/* ******************* contact section starts******** *********************** */

#contact {
    padding-top: 100px;
    background-color: var(--section-bg1-color);
}
.contact {
    padding-top: 50px;
}
 .contact-img img{
    width: 510px !important;
    height: 550px;
}
.contact-text h1{
    text-align: left;
}
.contact-text h1 {
    font-size: 47px;
    font-weight: 700;
}
.contact-text p {
    font-size: 20px;
    color: var(--section-p-color);
}
.contact-text p span {
    font-weight: 550;
    font-size: 21px;
    color: black;
}
.contact button {
    color: white;
    font-size: 22px;
    padding: 12px 26px;
    background-color: #f31b5f;
    border: 1px solid #f31b5f;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
    transition: .5s;
}
.contact button:hover {
    background-color: white;
    transform: scale(1.1);
    color: #f31b5f;
}



/* ******************* contact section ends******** *********************** */